* {
  margin:0px;
  padding:0px;
}

p, h1, h2, h3 {
  font-family: Tahoma, Arial, sans-serif;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

header {
  background-color: rgb(187, 252, 244);
  height: 200px;
  text-align: center;
}

#nameContainer {
  height: 80px;
  vertical-align: middle;
}
