* {
  margin:0px;
  padding:0px;
}

body {
background-color: rgb(28,0,55);
color: white;
font-family: Tahoma, Arial, sans-serif;
}

header {
  text-align: center;
  height: fit-content;
}

ul {
  list-style-type: none;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 10px;
}

li a:hover:not(.active) {
  background-color: rgb(30, 70, 135);
}

.active {
  background-color: white;
  color: black;
}

main {
  padding-top: 30px;
  height: 500px;
  display: block;
}

p {
  font-size: 15px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 30px;
}

div.container {
  height: fit-content;
}

p, h3 {
  padding: 5px;
}

div.page-btn {
background-color: white;
color: black;
height: 50px;
width: fit-content;
}

footer {
bottom: 0;
background-color: white;
}
